// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify

$badge-height: 40px;
$badge-min-width: 40px;
$badge-border-radius: 50%;
$badge-font-size: 20px;
$badge-dot-border-width: 0;
